<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소방 방재 탐지 로봇</title>
</head>
<body>
    <h1>소방 방재 탐지 로봇 home!!!!!</h1>
    <input type="button" value="로그인" onclick="location.href='login'">
    <input type="button" value="회원가입" onclick="location.href='register'">
</body>
</html>