<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="1; url=http://104.198.3.107:3000/">
</head>
<body>
<li>로그아웃 되었습니다.</li>
</body>
</html>